<!DOCTYPE html>
<html>
  <head>
    <style>
      html {
        background-color: #EBEBEB;
        font-family: "Helvetica Neue", "Arial", sans-serif;
      }

      body::after {
        content: "GDS";
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0.5em 1em;
        background-color: #2E89CA;
        color: white;
        text-align: right;
        position: fixed;
        font-size: 18pt;
      }

      .node {
        position: absolute;
        width: 28vh;
        text-align: center;
        font-size: 2.5vh;
        border: 3px solid black;
        background-color: white;
      }

      .node img {
        height: 6vh;
        width: 6vh;
        float: left;
        padding: 3vh 1vh;
        border-right: 3px solid black;
        margin-right: 0.5em;
      }

      .node figcaption {
        padding: 0.5em;
        text-align: left;
        font-weight: bold;
      }

      .node.purple img { background-color: #7033CC; }
      .node.green img  { background-color: #85B045; }
      .node.blue img   { background-color: #42A2B3; }
      .node.yellow img { background-color: #F8BD32; }
      .node.red img    { background-color: #CC4C33; }
      .node.pink img   { background-color: #CC33B2; }

      .node.left {
        left: calc(25vw - 10vh);
      }

      .node.middle {
        left: calc(50vw - 10vh);
      }

      .node.right {
        left: calc(75vw - 10vh);
      }

      .node.vertical-middle {
        top: calc(50vh - 2em - 10vh);
      }

      .node.vertical-upper {
        top: calc(33vh - 2em - 10vh);
      }

      .node.vertical-lower {
        top: calc(66vh - 2em - 10vh);
      }

      .node.vertical-very-lower {
        top: calc(77vh - 2em - 10vh);
      }

      .node.vertical-very-upper {
        top: calc(22vh - 2em - 10vh);
      }

      .jtk-connector path {
        stroke: #000;
        stroke-width: 2pt;
      }

      @keyframes highlight-path {
        from { stroke: #F00; }
        to   { stroke: #000; }
      }

      .jtk-connector.highlight path {
        animation-name: highlight-path;
        animation-duration: 5s;
      }
    </style>
    <script language="javascript" src="/public/demo/jsplumb.js"></script>
    <script language="javascript">
      function getConnector(source_name, target_name) {
        var source = document.querySelector("#" + source_name);
        var target = document.querySelector("#" + target_name);
        return jsPlumb.getConnections({source: source, target: target})[0].connector.getDisplayElements()[0];
      }

      function flashConnector(source, target) {
        var connector = getConnector(source, target);
        connector.classList.remove("highlight");
        setTimeout(function () { connector.classList.add("highlight"); }, 250);
      }

      function connect(target_name, source_name) {
        var source = document.querySelector("#" + source_name);
        var target = document.querySelector("#" + target_name);
        jsPlumb.connect({
          source: source,
          target: target,
          anchors: [ anchor(source, target), anchor(target, source) ],
          overlays: [ ["Arrow", { location: 0.7 }] ],

          endpoint: "Blank"
        });
      }

      function anchor(element, other) {
        if (element.classList.contains("left")) {
          return "Right";
        } else if (element.classList.contains("right")) {
          return "Left";
        } else if (element.classList.contains("vertical-lower") || element.classList.contains("vertical-very-lower")) {
          return "Top";
        } else if (element.classList.contains("vertical-upper") || element.classList.contains("vertical-very-upper")) {
          return "Bottom";
        } else if (anchor(other) == "Right") {
          return "Left";
        } else if (anchor(other) == "Left") {
          return "Right";
        }
      }

      jsPlumb.ready(function () {
        window.addEventListener("resize", jsPlumb.repaintEverything);
        jsPlumb.setContainer(document.querySelector('body'));
        connect("sp1", "qs");
        connect("qs", "dwp");
        connect("qs", "dwp-dla");
        /*connect("opg", "dwp");
        connect("nhs", "dwp");
        connect("hmlr", "opg");
        connect("sp2", "opg");
        connect("opg", "sp2");*/
      });
    </script>
  </head>
  <body>
    <figure id="sp2" class="node blue left vertical-upper">
      <img src="/public/demo/query.svg" alt="SP">
      <figcaption>County Council #1</figcaption>
    </figure>
    <figure id="sp1" class="node blue left vertical-lower">
      <img src="/public/demo/query.svg" alt="SP">
      <figcaption>County Council #2</figcaption>
    </figure>
    <figure id="qs"  class="node purple middle vertical-middle">
      <img src="/public/demo/logic.svg" alt="QS">
      <figcaption>BB Logic (DfT)</figcaption>
    </figure>
    <figure id="dwp" class="node green right vertical-upper">
      <img src="/public/demo/data.svg" alt="DA (PIP)">
      <figcaption>DWP</figcaption>
      <figcaption>PIP</figcaption>
    </figure>
    <figure id="dwp-dla" class="node green right vertical-middle">
      <img src="/public/demo/data.svg" alt="DA (PIP)">
      <figcaption>DWP (DLA)</figcaption>
    </figure>
    <figure id="opg" class="node yellow middle vertical-very-lower">
      <img src="/public/demo/data.svg" alt="DA (DLA)">
      <figcaption>Powers Of Attorney (OPG)</figcaption>
    </figure>
    <figure id="nhs" class="node pink middle vertical-very-upper">
      <img src="/public/demo/data.svg" alt="DA (DLA)">
      <figcaption>NHS</figcaption>
    </figure>
    <figure id="hmlr" class="node red right vertical-lower">
      <img src="/public/demo/query.svg" alt="DA (DLA)">
      <figcaption>HMLR</figcaption>
    </figure>
  </body>
</html>